<html>
    <header>
        <h3>LRA Form</h3>
        <link rel="stylesheet" href="public/css/style.css">
    </header>
    <body>
        <form class="form"  method="POST" action="send">
            {{msg}}
            Name: <input type="text" name="name">
            Email: <input type="text" name="email"><br><br>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>